* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', serif;
  background-color: rgba(255, 255, 255, 0.726);
}

form input {
  padding: 7px 20px;
  font-size: 18px;
  width: 350px;
}

form input:hover {
  border-color: rgba(255, 0, 0, 0.651);
}

form button {
  border: 1px solid rgba(255, 0, 0, 0.651);
  cursor: pointer;
  background-color: rgb(243, 61, 61);
  color: #fff;
  padding: 7px;
  font-size: 18px;
}

form button:hover {
  color: rgba(0, 0, 0, 0.8);
}

.title {
  text-align: center;
  padding-top: 10px;
  font-size: 60px;
  font-weight: 900;
  font-family: 'Orbitron', sans-serif;
  background: linear-gradient(rgba(255, 0, 0, 0.747), rgb(196, 22, 22));
}

.title::after {
  content: "";
  background-color: #000;
  display: block;
  height: 30px;
  left: 0;
}

.title-dark::after {
  background-color: rgb(182, 182, 182);
}

.title span {
  color: rgba(255, 255, 255, 0.726);
}

@media (max-width: 550px) {
  .title {
    font-size: 40px;
  }
}

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/