.pokemon-card span {
    font-size: 14px;
    color: gray;
}

ul {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
}

ul li {
    text-align: center;
    align-items: center;
    width: 230px;
    border: 10px solid rgb(116, 198, 157);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
    cursor: pointer;
}

.pokemon-card img {
    margin-top: 20px;
    height: 120px;
}

.pokemon-card img:hover {
    margin-top: 10px;
    height: 130px;
}

.pokemon-card > div {
    width: 100%;
}

.pokemon-card > div > div:last-child {
    margin-top: 15px;
    padding: 15px 0;
    border-top: 1px solid rgba(128, 128, 128, 0.5);
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.pokemon-card > div > div:last-child div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-card h3 {
    font-size: 27px;
}

.pokemon-card h5 {
    font-size: 18px;
}