.pokedex h2 {
    text-align: center;
}

.pokedex span {
    color: red;
}

.pokedex > div {
    width: 85%;
    margin: 20px auto;
}

.search-pokemon {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.search-pokemon select {
    font-size: 16px;
    width: 300px;
    padding-left: 20px;
}

.no-pokemon {
    margin-top: 70px;
    text-align: center;
}

.no-pokemon h2 {
    font-size: 30px;
}

.no-pokemon img {
    width: 150px;
}

.buttons {
    display: flex;
    margin-bottom: 70px;
    justify-content: center;
    gap: 5px;
}

.buttons button {
    font-size: 18px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.buttons button:hover {
    font-size: 22px;
}

.buttons button:first-child, .buttons button:last-child {
    background-color: rgb(236, 85, 71);
    font-size: 25px;
    color: #fff;
}

.buttons button:first-child:hover, .buttons button:last-child:hover {
    background-color: rgba(236, 85, 71, 0.80);
}

.buttons button:disabled {
    visibility: hidden;
}

.pokemon-error {
    margin-top: 45px;
}

/* Configuraciones */
.pokedex > button {
    position: absolute;
    background-color: transparent;
    border: 0;
    font-size: 45px;
    right: 20px;
    top: 30px;
    cursor: pointer;
}

.pokedex > button:hover {
    transition: 1s;
    rotate: 60deg;
    color: rgb(44, 44, 44);
}

/* Modo oscuro */
.h2-dark {
    color: #fff;
    font-weight: 300;
}

.input-dark {
    border-color: #fff;
    background-color: rgba(0, 0, 0, 0.35);
    color: rgba(255, 255, 255, 0.8);
}

.input-dark:hover {
    border-color: rgba(255, 158, 158, 0.651);
}

.btn-submit-dark {
    border: 1px solid #000;
    background-color: rgba(255, 0, 0, 0.651);
    color: #000;
}

.btn-submit-dark:hover {
    color: #fff;
}

.select-dark {
    cursor: pointer;
    border-color: #000;
    background-color: rgb(53, 53, 53);
    color: rgba(255, 255, 255, 0.8);
}

/* Responsive */

@media (max-width: 885px) {
    .search-pokemon select {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .pokedex h2 {
        font-size: 21px;
    }
    .search-pokemon form input {
        padding: 5px 20px;
        font-size: 15px;
        width: 250px;
    }
    .search-pokemon form button {
        padding: 5px;
        font-size: 15px;
    }
    .search-pokemon select {
        width: 150px;
        font-size: 15px;
    }
    .pokedex > button {
        font-size: 40px;
    }
}

@media (max-width: 611px) {
    .pokedex h2 {
        font-size: 18px;
    }
    .search-pokemon form input {
        font-size: 13px;
        width: 180px;
    }
    .search-pokemon form button {
        font-size: 13px;
    }
    .search-pokemon select {
        font-size: 13px;
        width: 100px;
        padding-left: 0;
    }
    .pokedex > button {
        font-size: 30px;
        top: 20px;
    }
}

@media (max-width: 427px) {
    .pokedex h2 {
        font-size: 16px;
    }
    .search-pokemon {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .pokedex > button {
        font-size: 25px;
        top: 15px;
        right: 10px;
    }
}