.settings {
    margin: 80px auto;
    width: 85%;
}

.settings h1 {
    font-family: monospace;
    font-size: 40px;
    text-align: center;
}

.background {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    box-shadow: 0 0 2px;
    background-color: rgb(255, 245, 245);
    gap: 40px;
    padding: 30px;
}

.pokemon-page div {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

/* Botones para cambiar el número de pokemones por página */

.btn-page {
    box-shadow: 0 0 2px;
    border: 0;
    background-color: transparent;
    padding: 10px;
    width: 35px;
    cursor: pointer;
}

.btn-page:hover {
    background-color: rgba(128, 128, 128, 0.3);
}

/* Modo oscuro */
.dark-mode i {
    font-size: 60px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
}

.background-dark {
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.settings-dark {
    color: rgba(255, 255, 255, 0.75);
}

.btn-page-dark {
    box-shadow: 0 0 2px #fff;
    background-color: transparent;
    color: #fff;
}

.btn-page-dark:hover {
    background-color: rgba(0, 0, 0, 0.5);
}